{{ define "confirm_success"}}
{{template "common_header" . }}

{{ if .Error }}

<div class="card">
    <h2 class="card-header">Hrm, there was a problem completing your request</h2>
    <div class="card-body">
	
	<div class="alert alert-danger" role="alert">
	    {{ .Error }}
	</div>
    </div>
</div>

{{ else }}

<div class="card">
    <h2 class="card-header">
	{{ if eq .Action "subscribe" }}
	Subscription complete
	{{ else }}
	Unsubscription complete
	{{ end }}
    </h2>
    <div class="card-body">

	<div class="alert alert-success" role="alert">

	    {{ if eq .Action "subscribe" }}
	    Your subscription complete to the <code>{{ .SiteName }}</code> mailing list is complete.
	    {{ else }}
	    You have been unsubscribed from the <code>{{ .SiteName }}</code> mailing list.	    
	    {{ end }}	    
	</div>

	{{ if eq .Action "subscribe" }}
	<div class="card-footer">
	    <p>If you decide you'd like to unsubscribe from the mailing list you can do so <a href="{{ SiteURL .Paths.Unsubscribe }}">from this page</a>.</p>
	</div>
	{{ end }}
    </div>
</div>

{{ end }}

{{template "common_footer"}}
{{ end }}
