{{ define "confirm"}}
{{template "common_header" . }}

<div class="card">
    <h2 class="card-header"><code>{{ .SiteName }}</code> Confirmation Step</h2>
    <div class="card-body">

	{{ if .Error }}

	<div class="alert alert-danger" role="alert">
	    {{ .Error }}
	</div>
	{{ end }}
	
	<form class="form" method="POST" action="{{ SiteURL .Paths.Confirm }}">
	    
	<div class="form-group">
	    <label for="address">Confirmation code</label>
	    <input type="code" class="form-control" name="code" id="code" placeholder="Your confirmation code">

	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
	
	</form>
    </div>
    
</div>

{{template "common_footer"}}
{{ end }}
