{{ define "invite_request"}}
{{template "common_header" . }}

<div class="card">
    <h2 class="card-header">Request invitation codes to the <code>{{ .SiteName }}</code> mailing list</h2>
    <div class="card-body">

	{{ if .Error }}

	<div class="alert alert-danger" role="alert">
	    {{ .Error }}
	</div>
	{{ end }}
	
	<form class="form" method="POST" action="{{ SiteURL .Paths.InviteRequest }}">
	    
	<div class="form-group">
	    <label for="address">Email address</label>
	    <input type="email" class="form-control" name="address" id="address" aria-describedby="emailHelp" placeholder="Your email address">
	    <small id="emailHelp" class="form-text text-muted"></small>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
	
	</form>
    </div>
    
    <div class="card-footer">

    </div>
    
</div>

{{template "common_footer"}}
{{ end }}
