{{ define "invite_code"}}
{{template "common_header" . }}

<div class="card">
    <h2 class="card-header">You've been invited to the <code>{{ .SiteName }}</code> mailing list</h2>
    <div class="card-body">

	{{ if .Error }}

	<div class="alert alert-danger" role="alert">
	    {{ .Error }}
	</div>
	{{ end }}
	
	<form class="form" method="POST" action="{{ SiteURL .Paths.InviteAccept }}">
	    
	<div class="form-group">
	    <label for="invite_code">Email address</label>
	    <input type="text" class="form-control" name="invite_code" id="invite_code" aria-describedby="invite_help" placeholder="Your invite code">
	    <small id="invite_help" class="form-text text-muted">...</small>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
	
	</form>
    </div>
    
    <div class="card-footer">
    </div>
    
</div>

{{template "common_footer"}}
{{ end }}
