{{ define "subscribe"}}
{{template "common_header" . }}

<div class="card">
    <h2 class="card-header">Subscribe</h2>
    <div class="card-body">

	{{ if .Error }}

	<div class="alert alert-danger" role="alert">
	    {{ .Error }}
	</div>
	{{ end }}
	
	<form class="form" method="POST" action="{{ .URL }}">
	    
	<div class="form-group">
	    <label for="address">Email address</label>
	    <input type="email" class="form-control" name="address" id="address" aria-describedby="emailHelp" placeholder="Your email address">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
	
	</form>
    </div>
    
    <div class="card-footer">
	<p>If you're looking to <em>unsubscribe</em> to the mailing list then <a href="{{ .Paths.Unsubscribe }}">head on over here</a>.</p>
    </div>
    
</div>

{{template "common_footer"}}
{{ end }}
